# fly.toml app configuration file generated for messing-family-budget-api on 2025-12-21T16:10:26Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'messing-family-budget-api'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
